{% assign lang = page.lang | default: site.default_lang %}
{% assign t = site.data.i18n[lang] %}

<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header"{% if page.layout == "landing" %} class="alt style2"{% endif %}{% if page.layout == "home" %} class="alt"{% endif %}>
  <a href="{{ '/' | relative_url }}" class="logo">
    <strong>{{ t.title }}</strong> <span>{{ t.subtitle }}</span>
  </a>
  
  <nav class="lang-switch">
    <a href="{{ '/' | relative_url }}"
     class="{% if lang == 'es' %}active{% endif %}">ES</a>

    <a href="{{ '/en/' | relative_url }}"
     class="{% if lang == 'en' %}active{% endif %}">EN</a>

    <a href="{{ '/ca/' | relative_url }}"
     class="{% if lang == 'ca' %}active{% endif %}">CA</a>
    <a href="#menu">{{ t.menu }}</a>
  </nav>
</header>

<!-- Menu -->
<nav id="menu">
  <ul class="links">

    {%- comment -%} Home (solo la del idioma actual) {%- endcomment -%}
    {% assign home_page = site.pages | where:"layout","home" | where:"lang",lang | first %}
    {% if home_page %}
      <li><a href="{{ home_page.url | relative_url }}">{{ home_page.title }}</a></li>
    {% endif %}

    {%- comment -%} Resto de páginas del menú, filtradas por idioma {%- endcomment -%}
    {% assign nav_pages = site.pages | where:"nav-menu", true | where:"lang", lang %}
    {% for p in nav_pages %}
      {% unless p.layout == "home" %}
        <li><a href="{{ p.url | relative_url }}">{{ p.title }}</a></li>
      {% endunless %}
    {% endfor %}

  </ul>

  <ul class="actions vertical">
    <li><a href="#one" class="button special fit">{{ t.get_started }}</a></li>
  </ul>
</nav>