{% assign lang = include.lang | default: page.lang | default: site.default_lang %}

<section id="one" class="tiles">
  {% for p in site.html_pages %}
    {% if p.show_tile == true and p.lang == lang %}
      <article class="{{ p.tile_class }}">
        <span class="image">
          <img src="{{ p.image | relative_url }}" alt="" />
        </span>
        <header class="major">
          <h3>
            <a href="{{ p.url | relative_url }}" class="link">
              {{ p.title }}
            </a>
          </h3>
          <p>{{ p.description }}</p>
        </header>
      </article>
    {% endif %}
  {% endfor %}
</section>