html {
    article.about-me{
        background-position: 50%;
    }

    form{
        input[type=text], textarea{
            border: 1px solid white;
        } 
    } 
    
    nav .active{
        color: _palette(highlight);
    }
}