<!DOCTYPE html>
<html lang="{{ page.lang | default: site.default_lang }}">

{% assign lang = page.lang | default: site.default_lang %}
{% assign t = site.data.i18n[lang] %}

{% include head.html %}

<body>

    {% include header.html %}

    <!-- Banner -->
    <section id="banner" class="major">
        <div class="inner">
            <header class="major">
                <h1>{{ page.landing-title }}</h1>
            </header>
            <div class="content">
                <p style="text-transform: uppercase;">{{ site.description }}</p>
                <ul class="actions">
                    <li><a href="#one" class="button next scrolly">{{ t.get_started }}</a></li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Main -->
    <div id="main">

        <!-- One -->
        {% include tiles.html lang=lang %}

        <!-- Two -->
        <section id="two">
            <div class="inner">
                <header class="major">
                    <h2>Know Márques!</h2>
                </header>
                <p>{{ content }}</p>
                <ul class="actions">
                    <li><a href="{{ '/landing/' | prepend: lang | prepend:'/' | relative_url }}" class="button next">{{ t.get_started }}</a></li>
                </ul>
            </div>
        </section>

    </div>

    {% include footer.html %}

</body>
</html>